{% extends 'base_public.html.twig' %}

{% block title %}Racklatina - Portal clientes
{% endblock %}

{% block body %}


	<div class="row justify-content-center">
		<div class="col-md-8 col-lg-6 col-xl-5">
			<div class="card mt-4 card-bg-fill">

				<div class="card-body p-4">
					<div class="text-center mt-2">
						<h5 class="text-rkl-secondary">Cambiar contraseña</h5>
					</div>

					<div class="p-2">
						<form method="post">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('change_password') }}">
							<div class="mb-3">
								<label class="form-label" for="password-input">Contraseña</label>
								<div class="position-relative auth-pass-inputgroup">
									<input type="password" class="form-control pe-5 password-input" name="password" onpaste="return false" placeholder="Ingrese una contraseña" id="password-input" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
									<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon material-shadow-none" type="button" id="password-addon">
										<i class="ri-eye-fill align-middle"></i>
									</button>
								</div>
								<div id="passwordInput" class="form-text">
									<span id="pass-length" class="invalid fs-12 mb-2">Mínimo
										<b>8 caracteres</b>
									</span><br>
									<span id="pass-lower" class="invalid fs-12 mb-2">Al menos una letra
										<b>minúscula</b>
										(a-z)</span><br>
									<span id="pass-upper" class="invalid fs-12 mb-2">Al menos una letra
										<b>mayúscula</b>
										(A-Z)</span><br>
									<span id="pass-number" class="invalid fs-12 mb-0">Al menos un
										<b>número</b>
										(0-9)</span>
								</div>
							</div>

							<div class="mb-3">
								<label class="form-label" for="confirm-password-input">Confirmar contaseña</label>
								<div class="position-relative auth-pass-inputgroup mb-3">
									<input type="password" class="form-control pe-5 password-input" onpaste="return false" name="confirm_password" placeholder="Confirme la contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="confirm-password-input" required>
									<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon material-shadow-none" type="button" id="confirm-password-input">
										<i class="ri-eye-fill align-middle"></i>
									</button>
								</div>
							</div>

							<div id="password-contain" class="p-3 bg-light mb-2 rounded">
								<h5 class="fs-13">La contraseña debe contener:</h5>
								<p id="pass-length" class="invalid fs-12 mb-2">Mínimo
									<b>8 caracteres</b>
								</p>
								<p id="pass-lower" class="invalid fs-12 mb-2">Al menos una letra
									<b>minúscula</b>
									(a-z)</p>
								<p id="pass-upper" class="invalid fs-12 mb-2">Al menos una letra
									<b>mayúscula</b>
									(A-Z)</p>
								<p id="pass-number" class="invalid fs-12 mb-0">Al menos un
									<b>número</b>
									(0-9)</p>
							</div>

							<div class="mt-4">
								<button class="btn btn-primary w-100" type="submit">Cambiar contarseña</button>
							</div>

						</form>
					</div>
				</div>
				<!-- end card body -->
			</div>
			<!-- end card -->
		</div>
	</div>

{% endblock %}
