{% extends 'base_public.html.twig' %}

{% block title %}Racklatina - Portal clientes
{% endblock %}

{% block body %}


	<div class="row justify-content-center">
		<div class="col-md-8 col-lg-6 col-xl-5">
			<div class="card mt-4 card-bg-fill">

				<div class="card-body p-4">
					<div class="text-center mt-2">
						<h5 class="text-rkl-secondary">Solicitar nuevo token de verificación</h5>

						<lord-icon src="https://cdn.lordicon.com/rhvddzym.json" trigger="loop" colors="primary:#aca300" class="avatar-xl"></lord-icon>

					</div>

					<div class="alert border-0 alert-warning text-center mb-2 mx-2" role="alert">
						Ingrese su DNI y le enviaremos un enlace para verificar su cuenta.
					</div>
					<div class="p-2">
						<form method="post">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('app_resend_confirmation') }}">
							<div class="mb-4">
								<label class="form-label" for="dni">DNI</label>
								<input type="text" name="dni" pattern="\d{7,8}" inputmode="numeric" title="El DNI debe tener entre 7 y 8 dígitos" class="form-control" required>
							</div>

							<div class="text-center mt-4">
								<button class="btn btn-primary w-100" type="submit">Enviar</button>
							</div>
						</form>
						<div class="mt-4 text-center">
							<p class="mb-0">¿Su cuenta ya se encuentra verificada?
								<a href="{{ path('app_login')}}" class="fw-semibold text-rkl-primary text-decoration-underline">
									Inicie sesión
								</a>
							</p>
						</div>
						<!-- end form -->
					</div>
				</div>
				<!-- end card body -->
			</div>
			<!-- end card -->


		</div>
	</div>

{% endblock %}
