<h2>¡Hola {{ user.firstName }}!</h2>
<p>Tu cuenta fue validada correctamente.</p>
<p>Ya podés iniciar sesión en el <a href="{{ url('app_login') }}">Portal de Racklatina</a>.</p>
<p>Si tenés alguna duda o problema, podés escribirnos a <a href="mailto:soporte@racklatina.com">soporte@racklatina.com</a>.</p>
