<h2>¡Hola {{ user.firstName }}!</h2>
<p>Gracias por registrarte en el portal de Racklatina.</p>
<p>Para completar tu registro, hacé clic en el siguiente enlace:</p>
<p><a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
<p>Este enlace expirará en 48 horas.</p>