<h2>Hola
	{{ user.firstName }},</h2>
<p>Recibimos una solicitud para restablecer tu contraseña.</p>
<p>Hacé clic en el siguiente enlace para elegir una nueva contraseña:</p>
<p>
	<a href="{{ resetUrl }}">{{ resetUrl }}</a>
</p>
<p>Este enlace expirará en 30 minutos.</p>
