
<img src="{{ absolute_url(asset('images\favicon-32x32.png')) }}" alt="logo">
<img src="{{ absolute_url(asset('\images\logo-racklatina-light.png')) }}" alt="marca">
<img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram" width="24" height="24">
<img src="https://cdn-icons-png.flaticon.com/512/174/174848.png" alt="Facebook" width="24" height="24">
<img src="https://cdn-icons-png.flaticon.com/512/174/174883.png" alt="YouTube" width="24" height="24">
<img src="https://cdn-icons-png.flaticon.com/512/174/174851.png" alt="Google Plus" width="24" height="24">
<h1 style="background-color: #9d9f26; color: #ffffff;margin:0">FORMULARIO DE SERVICIO - SEGUIMIENTO</h1>
<h1 style="background-color: #9d9f26; color: #ffffff;margin:0">Nro. {{ numero_seguimiento }} - LABORATORIO RACKLATINA</h1>
<p>Estimados,</p>
<p>¡Excelente! su seguimiento ha sido cargado correctamente. Descargue el pdf e imiprimir dos copias para enviar el equipo a casa central.</p>
<p>Les recuerdo que los horarios de recepción de equipo son : lunes a viernes de 08 hs a 17 hs.</p>
<p>Ubicación : Casa central - Col. Gaona 2682 B1742KAN, Km 33.1 Acceso Oeste Moreno, Buenos Aires, Argentina.</p>
<p>Saludos.</p>
<p style="font-size: 12px;">Racklatina S.A. &copy; 2018. Todos los derechos reservados</p>
