<img src="https://racklatina.com/wp-content/uploads/2020/08/logo-racklatina-light.png" alt="marca">
<h1 style="background-color: #9d9f26; color: #ffffff;margin:0">FORMULARIO DE SERVICIO - SEGUIMIENTO</h1>
<h1 style="background-color: #9d9f26; color: #ffffff;margin:0">Nro. {{ numero_seguimiento }} - LABORATORIO RACKLATINA</h1>
<p>Estimados,</p>
<p>¡Excelente! Su seguimiento ha sido cargado correctamente. Descargue el PDF e imprima dos copias para enviar el equipo a casa central.</p>
<p>Le recuerdo que los horarios de recepción de equipo son: lunes a viernes de 08 hs a 17 hs.</p>
<p>Ubicación: Casa central - Col. Gaona 2682 B1742KAN, Km 33.1 Acceso Oeste Moreno, Buenos Aires, Argentina.</p>
<p>Saludos.</p>
<p style="font-size: 12px;">Racklatina S.A. &copy; {{ "now"|date('Y') }}. Todos los derechos reservados</p>