<p>Hola {{nombre}}</p>
<p>Tu solicitud de representación de {% for cliente in clientes %}{{cliente}}{% endfor %}ha sido aprobada con éxito.</p>
<p>A partir de este momento ya podés comenzar a operar en nuestro Portal de Clientes.</p>
<p>Si tenés alguna consulta o necesitás asistencia, no dudes en escribirnos a centro.rac@racklatina.com.ar</p>
<p>Atentamente,</p>
<p>El equipo de Racklatina</p>
<p>https://portalclientes.racklatina.com.ar/login</p>