@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url("HKGrotesk-LegacyItalic-UbCXgOp.eot");
    src: local('HK Grotesk Legacy Italic'), local('HKGrotesk-LegacyItalic'),
        url("HKGrotesk-LegacyItalic-UbCXgOp.eot") format('embedded-opentype'),
        url("HKGrotesk-LegacyItalic-qNpJDiR.woff2") format('woff2'),
        url("HKGrotesk-LegacyItalic-_cX_Kdc.woff") format('woff'),
        url("HKGrotesk-LegacyItalic-H0aUaTb.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk Light Legacy';
    src: url("HKGrotesk-LightLegacyItalic-LBnVQd3.eot");
    src: local('HK Grotesk Light Legacy Italic'), local('HKGrotesk-LightLegacyItalic'),
        url("HKGrotesk-LightLegacyItalic-LBnVQd3.eot") format('embedded-opentype'),
        url("HKGrotesk-LightLegacyItalic-XoTT4D6.woff2") format('woff2'),
        url("HKGrotesk-LightLegacyItalic-teHWWMd.woff") format('woff'),
        url("HKGrotesk-LightLegacyItalic-WnFHfKZ.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-SemiBoldItalic-L11ezQ5.eot");
    src: local('HK Grotesk SemiBold Italic'), local('HKGrotesk-SemiBoldItalic'),
        url("HKGrotesk-SemiBoldItalic-L11ezQ5.eot") format('embedded-opentype'),
        url("HKGrotesk-SemiBoldItalic-1mkjkkA.woff2") format('woff2'),
        url("HKGrotesk-SemiBoldItalic-JAC4CBm.woff") format('woff'),
        url("HKGrotesk-SemiBoldItalic-zjfDbY1.ttf") format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-BoldItalic-kYrOEuH.eot");
    src: local('HK Grotesk Bold Italic'), local('HKGrotesk-BoldItalic'),
        url("HKGrotesk-BoldItalic-kYrOEuH.eot") format('embedded-opentype'),
        url("HKGrotesk-BoldItalic-OG6CS4c.woff2") format('woff2'),
        url("HKGrotesk-BoldItalic-onpxWxc.woff") format('woff'),
        url("HKGrotesk-BoldItalic-LHzyDN6.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk Medium Legacy';
    src: url("HKGrotesk-MediumLegacy-KFET0uG.eot");
    src: local('HK Grotesk Medium Legacy'), local('HKGrotesk-MediumLegacy'),
        url("HKGrotesk-MediumLegacy-KFET0uG.eot") format('embedded-opentype'),
        url("HKGrotesk-MediumLegacy-dScdnm3.woff2") format('woff2'),
        url("HKGrotesk-MediumLegacy-ARCEnbJ.woff") format('woff'),
        url("HKGrotesk-MediumLegacy-Qa7__tF.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Bold-1G7sY6J.eot");
    src: local('HK Grotesk Bold'), local('HKGrotesk-Bold'),
        url("HKGrotesk-Bold-1G7sY6J.eot") format('embedded-opentype'),
        url("HKGrotesk-Bold-tadXud4.woff2") format('woff2'),
        url("HKGrotesk-Bold-Gsbie89.woff") format('woff'),
        url("HKGrotesk-Bold-uPmGHff.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Medium-NoIG7MD.eot");
    src: local('HK Grotesk Medium'), local('HKGrotesk-Medium'),
        url("HKGrotesk-Medium-NoIG7MD.eot") format('embedded-opentype'),
        url("HKGrotesk-Medium-ntq887Z.woff2") format('woff2'),
        url("HKGrotesk-Medium-zzWTMSt.woff") format('woff'),
        url("HKGrotesk-Medium-OxsrmlG.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-ExtraBold-eV7DAyJ.eot");
    src: local('HK Grotesk ExtraBold'), local('HKGrotesk-ExtraBold'),
        url("HKGrotesk-ExtraBold-eV7DAyJ.eot") format('embedded-opentype'),
        url("HKGrotesk-ExtraBold-jkA7a4i.woff2") format('woff2'),
        url("HKGrotesk-ExtraBold-clPjfYs.woff") format('woff'),
        url("HKGrotesk-ExtraBold-mF4NKsJ.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk Light Legacy';
    src: url("HKGrotesk-LightLegacy-wTsJ_SS.eot");
    src: local('HK Grotesk Light Legacy'), local('HKGrotesk-LightLegacy'),
        url("HKGrotesk-LightLegacy-wTsJ_SS.eot") format('embedded-opentype'),
        url("HKGrotesk-LightLegacy-4UdF2hH.woff2") format('woff2'),
        url("HKGrotesk-LightLegacy-6alR4Dv.woff") format('woff'),
        url("HKGrotesk-LightLegacy-HmwEiMn.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-SemiBold-u4qDAHp.eot");
    src: local('HK Grotesk SemiBold'), local('HKGrotesk-SemiBold'),
        url("HKGrotesk-SemiBold-u4qDAHp.eot") format('embedded-opentype'),
        url("HKGrotesk-SemiBold-Za5zc1p.woff2") format('woff2'),
        url("HKGrotesk-SemiBold-rZHZKw3.woff") format('woff'),
        url("HKGrotesk-SemiBold-b0CsacO.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Italic-hWcc5Pk.eot");
    src: local('HK Grotesk Italic'), local('HKGrotesk-Italic'),
        url("HKGrotesk-Italic-hWcc5Pk.eot") format('embedded-opentype'),
        url("HKGrotesk-Italic-A9-RTAw.woff2") format('woff2'),
        url("HKGrotesk-Italic-IvRrX2G.woff") format('woff'),
        url("HKGrotesk-Italic-vJyDbji.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url("HKGrotesk-BoldLegacyItalic-PxtOd4O.eot");
    src: local('HK Grotesk Bold Legacy Italic'), local('HKGrotesk-BoldLegacyItalic'),
        url("HKGrotesk-BoldLegacyItalic-PxtOd4O.eot") format('embedded-opentype'),
        url("HKGrotesk-BoldLegacyItalic-bjW_xM4.woff2") format('woff2'),
        url("HKGrotesk-BoldLegacyItalic-XWru7tz.woff") format('woff'),
        url("HKGrotesk-BoldLegacyItalic-yeeTAQ2.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-LightItalic-3xgm1st.eot");
    src: local('HK Grotesk Light Italic'), local('HKGrotesk-LightItalic'),
        url("HKGrotesk-LightItalic-3xgm1st.eot") format('embedded-opentype'),
        url("HKGrotesk-LightItalic-7PhT1Ri.woff2") format('woff2'),
        url("HKGrotesk-LightItalic-6QE8mEQ.woff") format('woff'),
        url("HKGrotesk-LightItalic-ppdULGy.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Light-ziFD8Co.eot");
    src: local('HK Grotesk Light'), local('HKGrotesk-Light'),
        url("HKGrotesk-Light-ziFD8Co.eot") format('embedded-opentype'),
        url("HKGrotesk-Light-4hzD0am.woff2") format('woff2'),
        url("HKGrotesk-Light-a2A8E0v.woff") format('woff'),
        url("HKGrotesk-Light-86IduVI.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Regular-1Q97kzI.eot");
    src: local('HK Grotesk Regular'), local('HKGrotesk-Regular'),
        url("HKGrotesk-Regular-1Q97kzI.eot") format('embedded-opentype'),
        url("HKGrotesk-Regular-KF1bP4G.woff2") format('woff2'),
        url("HKGrotesk-Regular-4N9ubRy.woff") format('woff'),
        url("HKGrotesk-Regular-IID1QNW.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url("HKGrotesk-RegularLegacy-yiWUDIA.eot");
    src: local('HK Grotesk Regular Legacy'), local('HKGrotesk-RegularLegacy'),
        url("HKGrotesk-RegularLegacy-yiWUDIA.eot") format('embedded-opentype'),
        url("HKGrotesk-RegularLegacy-6SHSpTZ.woff2") format('woff2'),
        url("HKGrotesk-RegularLegacy-5c2WIwq.woff") format('woff'),
        url("HKGrotesk-RegularLegacy-5BMOm9T.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk SemiBold Legacy';
    src: url("HKGrotesk-SemiBoldLegacy-GLXzHko.eot");
    src: local('HK Grotesk SemiBold Legacy'), local('HKGrotesk-SemiBoldLegacy'),
        url("HKGrotesk-SemiBoldLegacy-GLXzHko.eot") format('embedded-opentype'),
        url("HKGrotesk-SemiBoldLegacy-26c-hdi.woff2") format('woff2'),
        url("HKGrotesk-SemiBoldLegacy-uLW-8gT.woff") format('woff'),
        url("HKGrotesk-SemiBoldLegacy-nOOc_VI.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Black-qJ6HUUd.eot");
    src: local('HK Grotesk Black'), local('HKGrotesk-Black'),
        url("HKGrotesk-Black-qJ6HUUd.eot") format('embedded-opentype'),
        url("HKGrotesk-Black-NsBO0hp.woff2") format('woff2'),
        url("HKGrotesk-Black-CrOhQl2.woff") format('woff'),
        url("HKGrotesk-Black-a_bN6a9.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk SmBold Legacy';
    src: url("HKGrotesk-SemiBoldLegacyItalic-O8tHoNy.eot");
    src: local('HK Grotesk SemiBold Legacy Italic'), local('HKGrotesk-SemiBoldLegacyItalic'),
        url("HKGrotesk-SemiBoldLegacyItalic-O8tHoNy.eot") format('embedded-opentype'),
        url("HKGrotesk-SemiBoldLegacyItalic-jVwsj0X.woff2") format('woff2'),
        url("HKGrotesk-SemiBoldLegacyItalic-EEiTUVb.woff") format('woff'),
        url("HKGrotesk-SemiBoldLegacyItalic-vhseknz.ttf") format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url("HKGrotesk-BoldLegacy-hZbBXQ-.eot");
    src: local('HK Grotesk Bold Legacy'), local('HKGrotesk-BoldLegacy'),
        url("HKGrotesk-BoldLegacy-hZbBXQ-.eot") format('embedded-opentype'),
        url("HKGrotesk-BoldLegacy-1pD-uLR.woff2") format('woff2'),
        url("HKGrotesk-BoldLegacy-pvOfoFp.woff") format('woff'),
        url("HKGrotesk-BoldLegacy-KFzmYkG.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk Medium Legacy';
    src: url("HKGrotesk-MediumLegacyItalic-giBv8y3.eot");
    src: local('HK Grotesk Medium Legacy Italic'), local('HKGrotesk-MediumLegacyItalic'),
        url("HKGrotesk-MediumLegacyItalic-giBv8y3.eot") format('embedded-opentype'),
        url("HKGrotesk-MediumLegacyItalic-97Bg44b.woff2") format('woff2'),
        url("HKGrotesk-MediumLegacyItalic-PW7DeK5.woff") format('woff'),
        url("HKGrotesk-MediumLegacyItalic-GKeq33U.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-MediumItalic-prSXY68.eot");
    src: local('HK Grotesk Medium Italic'), local('HKGrotesk-MediumItalic'),
        url("HKGrotesk-MediumItalic-prSXY68.eot") format('embedded-opentype'),
        url("HKGrotesk-MediumItalic-up8qKmc.woff2") format('woff2'),
        url("HKGrotesk-MediumItalic-7L02ddv.woff") format('woff'),
        url("HKGrotesk-MediumItalic-iUmCbeF.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

